<header id="header">
  <nav class="navbar navbar-expand-md navbar-light bg-faded">
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">E M P L O Y E E</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li
          class="nav-item"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
        >
          <a
            id="headerHomeLink"
            class="nav-link"
            routerLink="/home"
            routerLinkActive="router-link-active"
            >Home</a
          >
        </li>
        <li
          class="nav-item"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
        >
          <a
            class="nav-link"
            routerLink="/employees"
            routerLinkActive="router-link-active"
            >Employees</a
          >
        </li>
      </ul>
    </div>
  </nav>
  <div class="spacer"></div>
</header>
