<div class="container custom-container-2">
  <br />
  <div class="row row-no-margin">
    <div class="col-xs-6">
      <h3>View Employee</h3>
    </div>
    <div class="col-xs-6 ml-auto">
      <button
        class="btn btn-primary"
        [routerLink]="['/update-employee', employeeId]"
      >
        Update
      </button>
    </div>
  </div>
  <br />
  <div class="col-xs-6">
    <div>
      <label for="name">Name</label>
      <input
        disabled
        class="form-control"
        type="text"
        id="name"
        placeholder="Name"
        value="{{ employee.name }}"
      />
    </div>
    <div>
      <label for="salary">Salary</label>
      <input
        disabled
        type="text"
        class="form-control"
        id="salary"
        placeholder="Salary"
        value="{{ employee.salary }}"
      />
    </div>
    <div>
      <label for="age">Age</label>
      <input
        disabled
        type="text"
        class="form-control"
        id="age"
        placeholder="Age"
        value="{{ employee.age }}"
      />
    </div>
  </div>
</div>
