<div class="container custom-container-2">
  <br />
  <h3>View Employee</h3>
  <p></p>
  <div style="width: 400px;">
    <div>
      <label for="name">Name</label>
      <input
        disabled
        class="form-control"
        type="text"
        id="name"
        placeholder="Name"
        value="{{ employee.name }}"
      />
    </div>
    <div>
      <label for="salary">Salary</label>
      <input
        disabled
        type="text"
        class="form-control"
        id="salary"
        placeholder="Salary"
        value="{{ employee.salary }}"
      />
    </div>
    <div>
      <label for="age">Age</label>
      <input
        disabled
        type="text"
        class="form-control"
        id="age"
        placeholder="Age"
        value="{{ employee.age }}"
      />
    </div>
  </div>
</div>
