<!--<div class="container custom-container">
  <div class="col-md-12">
    <h3 class="mb-3 text-center">View Employee</h3>

    <div class="form-group">
      <input
        type="text"
        [(ngModel)]="employee.name"
        class="form-control"
        placeholder="Name"
      />
    </div>

    <div class="form-group">
      <input
        type="text"
        [(ngModel)]="employee.salary"
        class="form-control"
        placeholder="Salary"
      />
    </div>

    <div class="form-group">
      <input
        type="text"
        [(ngModel)]="employee.age"
        class="form-control"
        placeholder="Age"
      />
    </div>

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block">
        Update Employee
      </button>
    </div>
  </div>
</div>
-->
