/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: "Helvetica Neue LT W01_35 Thin", Helvetica, Arial, sans-serif !important;
  font-size: 13px !important;
  line-height: 1.5;
  color: #0a0a0a;
  background: #fff;
  padding: 0;
  width: auto;
  letter-spacing: 0.5px;
  overflow-x: hidden;
  text-transform: none;
}

.row-no-margin {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.has-error input[type="text"] {
  border-color: rgb(216, 12, 12);
  color: rgb(230, 14, 14);
}

.form-group.required .control-label:after {
  content: "*";
  color: red;
}
